{{#name}}
{{{ level }}} {{{ name }}} [{{{ method }}} {{{ path }}}]
{{/name}}
{{^name}}
{{{ level }}} {{{ method }}} {{{ path }}}
{{/name}}

{{#request.description?}}
{{{request.description}}}
{{/request.description?}}
{{#request}}
+ Request{{#contentType}} ({{{contentType}}}){{/contentType}}

{{#headers?}}
    + Headers

            {{#headers}}
            {{{key}}}: {{{value}}}
            {{/headers}}

{{/headers?}}
{{#body?}}
    + Body

{{/body?}}
{{{body}}}

{{/request}}
{{#response}}
+ Response {{{statusCode}}}{{#contentType}} ({{{contentType}}}){{/contentType}}

{{#headers?}}
    + Headers

            {{#headers}}
            {{{key}}}: {{{value}}}
            {{/headers}}

{{/headers?}}
{{#body?}}
    + Body

{{/body?}}
{{{body}}}
{{/response}}
